<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Template Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script></head>
<body>
   <input id="asyncTemplateID" type="hidden" th:value="${asyncTemplate}"></input>
   <input id="restUrlID" type="hidden" th:value="${restUrl}"></input>
</body>
<script>
$( document ).ready(function() {
	var outData = { 
			asyncTemplate: $("#asyncTemplateID").val(),
			header1Title: "List With Badges",
			header2Title: "Breadcrumbs",
			header2Text: "Breadcrumbs Text"
			};
	var restUrl = $("#restUrlID").val();
	$("#restUrlID").remove();
	$("#asyncTemplateID").remove();
	$.ajax({
	        type: "POST",
	        contentType: "application/json",
	        url: restUrl,
	        data: JSON.stringify(outData),
	        dataType: 'json',
	        success: function (data) {
	        	$( "body" ).append(data.inData)
	        }
	    });
});
</script>
</html>
